:root {
  --background-main-button: green;
  --background-main: #fdab11;
}

.cuoi0cung h2 {
  color: white;
  font-size: 28px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.cuoi0cung p {
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  line-height: 18px;
}
/* HOT */
.hot__list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 17px;
}
.hot__item h3 {
  font-size: 6px;
}

.hot__item p,
.hot__item p {
  font-size: 6px;
}
.hot__item button {
  font-size: 6px;
  padding: 2.5px;
}

.hot__item .item__name {
  font-size: 6px;
}

.hot__item .left__item,
.hot__item .right__item {
  gap: 2px;
}

.hot__item img {
  width: 30px;
  height: 30px;
}
.hot__item {
  position: relative;
}
.hot__item .live__chip {
  position: absolute;
  font-size: 7px;
  top: 3px;
  left: 3px;
}
.hot__item {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.hot__item .hot__item__name {
  position: absolute;
  font-size: 7px;
  top: 3px;
  right: 3px;
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000076;
  z-index: 1000;
  transition: all ease 0.3s;
  opacity: 0;
  visibility: hidden;
}
.link__quang-cao {
  display: block;
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link__quang-cao img {
  width: 100%;
  height: 100%;
}
.close__quang-cao {
  background: white;
  width: 20px;
  height: 20px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .hot__list {
    grid-template-columns: auto auto auto auto;
  }
}
@media (max-width: 768px) {
  .hot__list {
    grid-template-columns: auto auto;
  }
  .hot__item {
    padding: 20px 0;
  }
  .header__main img {
    width: 90px;
  }
}
