:root {
  --background-main-button: green;
  --background-main: #fdab11;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: black;
}

/* HEADER */

header {
  background-color: var(--background-main);
  padding: 5px 10px;
}
.header__main {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.header__main ul.list__nav {
  display: flex;
  list-style: none;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  gap: 20px;
}
.header__main ul.list__nav a{
  text-decoration: none;
  color: black;
}
.header__main img {
  width: 120px;
}

.contact__button__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact__button__header {
  background-color: var(--background-main-button);
  color: white;
  font-size: 12px;
  padding: 4px 30px;
  border-radius: 100rem;
}
.contact__button__header p:first-child {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact__button__header p:last-child {
  font-size: 10px;
}

.link__button__list {
  display: flex;
  align-items: center;
  gap: 7px;
}

.link__button__list button {
  color: var(--background-main);
  background: black;
  border-radius: 4px;
  padding: 10px 5px;
  font-size: 10px;
  text-transform: uppercase;
  font: 500;
}
/* CONTAINER */
.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
/* FOOTER */

footer {
  background: var(--background-main);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 10px;
}

.social__footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.social__footer img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
}

.footer__logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* TITLE VIEW */
.title__view-all {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title__view-all h2 {
  color: var(--background-main);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.title__view-all a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  margin-top: 2px;
  font-weight: 500;
}
.title__view-all svg {
  width: 10px;
  height: 10px;
  color: white;
  margin-top: 2px;
}
/* Top NHA CAI */
.top-nha-cai {
  margin-bottom: 30px;
}
.top__list {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top__item {
  border: 1px solid var(--background-main);
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  min-height: 120px;
}

.top__item__left,
.top__item__mid,
.top__item__right {
  width: 33%;
}
.top__item__left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 204, 0);
  letter-spacing: 4px;
  font-size: 20px;
}
.top__item__mid {
  padding: 0 100px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.top__item__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 600;
}
.top__item__right button:first-child {
  color: var(--background-main);
}
.top__item__right button:last-child {
  color: white;
  background-color: var(--background-main);
  padding: 8px 10px;
  border-radius: 8px;
}

.top__item__stt {
  position: absolute;
  top: -15px;
  left: 15px;
  background-color: var(--background-main);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: black;
  font-weight: 600;
}

/* MON THE THAO KHAC */
.diff__list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 10px;
  position: relative;
}

.diff__item {
  border-radius: 4px;
  background: var(--background-main);
}

.diff__item p:not(:first-child) {
  font-size: 8px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}

.diff__item img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.diff_title {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  font-weight: 600;
}
/* SLIDE */
.slide__list {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto auto;

  position: relative;
}
.slide__item {
  color: white;
  box-shadow: rgba(255, 196, 1, 0.913) 0px 0px 6px;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  background-image: url("https://c8.alamy.com/comp/2PB9J16/grounds-crew-member-chantry-marble-places-a-sprinkler-pipe-in-front-of-banner-showing-real-salt-lake-midfielder-freddy-adu-prior-to-the-mls-soccer-game-against-the-new-england-revolution-on-saturday-july-28-2007-in-salt-lake-city-adu-is-leaving-real-salt-lake-to-complete-transfer-deal-negotiations-with-the-portuguese-club-benfica-a-spokesman-for-the-utah-club-said-adu-flew-to-his-parents-home-in-washington-dc-saturday-afternoon-before-leaving-for-lisbon-on-sunday-ap-photodouglas-c-pizac-2PB9J16.jpg");
  background-repeat: no-repeat;
  background-color: #ffa400;
  background-size: cover;
}

.slide__item .item__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-main-button);
  font-size: 8px;
  padding: 3px 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.slide__item h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-main-button);
  font-size: 8px;
  padding: 3px 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-transform: uppercase;
}

.slide__item__main {
  display: flex;
  justify-content: space-between;
}

.slide__item__main img {
  width: 56px;
  height: 56px;
}

.slide__item__main p {
  background-color: var(--background-main-button);
  font-size: 10px;
  border-radius: 1000px;
  text-transform: uppercase;
  width: max-content;
  padding: 2px 5px;
}

.slide__item__main .left__item,
.slide__item__main .right__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.slide__item__main button {
  background-color: var(--background-main);
  color: black;
  font-size: 7px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 3px;
  border-radius: 4px;
}

.mid__item {
  text-align: center;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 30%;
}
.live__chip {
  background: red;
  width: max-content;
  border-radius: 100rem;
  padding: 2px 6px;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  font-size: 8px;
}
.mid__item .live__tiso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  width: 100%;
}

.left__item,
.right__item {
  width: 30%;
}
.live__time {
  font-size: 7px;
}

.slide__list .prev__button,
.slide__list .next__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-main);
  padding: 10px 5px;
}
.slide__list .prev__button svg,
.slide__list .next__button svg {
  color: var(--background-main-button);
  width: 25px;
  height: 25px;
}

.slide__list .next__button {
  right: -20px;
}
.slide__list .prev__button {
  left: -20px;
}
.slide__list .prev__button svg {
  transform: rotate(180deg);
}
@media (max-width: 1200px) {
  .slide__list {
    overflow-x: auto;
  }
  .diff__list {
    grid-template-columns: auto auto auto auto;
  }
  .next__button,
  .prev__button {
    display: none;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer {
    padding: 0 10px 10px;
  }
  .top__item__mid {
    padding: 0;
    justify-content: center;
    padding: 0 10px;
  }
  .header__main ul.list__nav {
    display: none;
    cursor: pointer;
  }
  .header__main ul.list__nav a{
    text-decoration: none;
  }
  .link__button__list {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    width: 150px;
  }
  .social__footer img {
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }
  .diff__list {
    grid-template-columns: auto auto;
  }
  .top__item {
    flex-direction: column;
  }
  .top__item__left,
  .top__item__mid,
  .top__item__right {
    width: 100%;
  }
  .top__item__mid {
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact__button__list {
    display: none;
  }
  .title__view-all {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
