:root {
  --background-main-button: green;
  --background-main: #ffb52c;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "Poppins", sans-serif;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: black;
}

/* HEADER */

header {
  background-color: var(--background-main);
  padding: 5px 10px;
}
.header__main {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}

.header__main ul.list__nav {
  display: flex;
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  gap: 20px;
}

.header__main img {
  width: 120px;
}

.contact__button__list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact__button__header {
  background-color: var(--background-main-button);
  color: white;
  font-size: 12px;
  padding: 4px 30px;
  border-radius: 100rem;
}
.contact__button__header p:first-child {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.contact__button__header p:last-child {
  font-size: 10px;
}

.link__button__list {
  display: flex;
  align-items: center;
  gap: 7px;
}

.link__button__list button {
  color: var(--background-main);
  background: black;
  border-radius: 4px;
  padding: 10px 5px;
  font-size: 10px;
  text-transform: uppercase;
  font: 500;
}
/* CONTAINER */
.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
/* FOOTER */

footer {
  background: var(--background-main);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 10px;
}

.social__footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.social__footer img {
  width: 55px;
  height: 55px;
  border-radius: 12px;
}

.footer__logo {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* TITLE VIEW */
.title__view-all {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title__view-all h2 {
  color: var(--background-main);
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

.title__view-all a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  margin-top: 2px;
  font-weight: 500;
}
.title__view-all svg {
  width: 10px;
  height: 10px;
  color: white;
  margin-top: 2px;
}
