:root {
  --background-main-button: green;
  --background-main: #ffa400;
  --background-red: #de3615;
}

.page2__title {
  background: var(--background-main);
  padding: 20px 320px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px auto;
}
.table__tiso {
  margin-bottom: 30px;
}
