:root {
  --background-main-button: green;
  --background-main: #fdab11;
}
.page8__title {
  color: var(--background-main);
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.score__wrap {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid white;
  margin-bottom: 30px;
}

.score__header {
  background: #001830;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
}
.county__header {
  display: flex;
  align-items: center;
  color: white;
  gap: 2px;
}
.county__header img {
  width: 20px;
  height: 20px;
}

.score__header .hiep {
  color: gray;
  font-size: 14px;
}
.item__left,
.item__right {
  max-width: 46%;
  width: 100%;
  background: #0a2947;
}
.score__item {
  border-bottom: 1px solid #2b5885;
  padding: 4px;
  background: #0a2947;
  font-size: 14px;
  color: rgb(170, 170, 170);
  display: flex;
  justify-content: space-between;
}

.score__item.not-border {
  border: none;
}

.item__left__time {
  display: flex;
  gap: 10px;
  align-items: center;
}
.item__left__time img {
  width: 22px;
  height: 22px;
  border-radius: 100rem;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.831) 0px 0px 6px;
}

.item__left__time span:last-child {
  color: rgb(250, 27, 27);
}

.item__left__time.right span {
  color: white;
}
.item__left__time.right {
  gap: 5px;
}
.item__left,
.item__right {
  display: flex;
  justify-content: space-between;
}
.item__left__score {
  display: flex;
  align-items: center;
  gap: 8px;
}
.item__left__score div {
  background: rgb(240, 200, 1);
  font-size: 10px;
  color: black;
  font-weight: 600;
  width: 10px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}
.item__left__score div.the-do {
  background: red;
  color: white;
}
.item__left__score img {
  width: 15px;
}
.item__mid {
  margin: 0 10px;
  display: flex;
  gap: 10px;
  font-weight: bold;
  color: white;
  align-items: center;
}

@media (max-width: 768px) {
  .item__left .item__left__score {
    margin-left: auto;
  }
  .item__right .item__left__score {
    margin-right: auto;
  }
}
@media (max-width: 468px) {
  .score__item {
    flex-direction: column;
    gap: 5px;
  }
  .score__item div {
    justify-content: center;
  }
  .item__left,
  .item__right {
    max-width: 100%;
  }
  .item__mid {
    font-size: 20px;
  }
}
