:root {
  --background-main-button: green;
  --background-main: #ffa400;
  --background-red: #de3615;
}

.page2__title {
  background: var(--background-main);
  padding: 20px 320px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px auto;
}
.table__tiso {
  margin-bottom: 30px;
}

.slide__list {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  position: relative;
}
.slide__item {
  color: white;
  width: 19%;
  box-shadow: rgba(255, 196, 1, 0.913) 0px 0px 6px;
  position: relative;
  padding: 10px;
  border-radius: 8px;
  background-image: url("https://c8.alamy.com/comp/2PB9J16/grounds-crew-member-chantry-marble-places-a-sprinkler-pipe-in-front-of-banner-showing-real-salt-lake-midfielder-freddy-adu-prior-to-the-mls-soccer-game-against-the-new-england-revolution-on-saturday-july-28-2007-in-salt-lake-city-adu-is-leaving-real-salt-lake-to-complete-transfer-deal-negotiations-with-the-portuguese-club-benfica-a-spokesman-for-the-utah-club-said-adu-flew-to-his-parents-home-in-washington-dc-saturday-afternoon-before-leaving-for-lisbon-on-sunday-ap-photodouglas-c-pizac-2PB9J16.jpg");
  background-repeat: no-repeat;
  background-color: #ffa400;
  background-size: cover;
}

.slide__item .item__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-main-button);
  font-size: 8px;
  padding: 3px 10px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.slide__item h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-main-button);
  font-size: 8px;
  padding: 3px 10px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-transform: uppercase;
}

.slide__item__main {
  display: flex;
  justify-content: space-between;
}

.slide__item__main img {
  width: 56px;
  height: 56px;
}

.slide__item__main p {
  background-color: var(--background-main-button);
  font-size: 10px;
  border-radius: 1000px;
  text-transform: uppercase;
  width: max-content;
  padding: 2px 5px;
}

.slide__item__main .left__item,
.slide__item__main .right__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.slide__item__main button {
  background-color: var(--background-main);
  color: black;
  font-size: 7px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 3px;
  border-radius: 4px;
}

.mid__item {
  text-align: center;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
  width: 30%;
}
.live__chip {
  background: red;
  width: max-content;
  border-radius: 100rem;
  padding: 2px 6px;
  margin-left: auto;
  margin-right: auto;
  height: max-content;
  font-size: 8px;
}
.mid__item .live__tiso {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  width: 100%;
}

.left__item,
.right__item {
  width: 30%;
}
.live__time {
  font-size: 7px;
}

.slide__list .prev__button,
.slide__list .next__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-main);
  padding: 10px 5px;
}
.slide__list .prev__button svg,
.slide__list .next__button svg {
  color: var(--background-main-button);
  width: 25px;
  height: 25px;
}

.slide__list .next__button {
  right: -20px;
}
.slide__list .prev__button {
  left: -20px;
}
.slide__list .prev__button svg {
  transform: rotate(180deg);
}

/* Top NHA CAI */
.top-nha-cai {
  margin-bottom: 30px;
}
.top__list {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top__item {
  border: 1px solid var(--background-main);
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  min-height: 120px;
}

.top__item__left,
.top__item__mid,
.top__item__right {
  width: 33%;
}
.top__item__left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 204, 0);
  letter-spacing: 4px;
  font-size: 20px;
}
.top__item__mid {
  padding: 0 100px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.top__item__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-weight: 600;
}
.top__item__right button:first-child {
  color: var(--background-main);
}
.top__item__right button:last-child {
  color: white;
  background-color: var(--background-main);
  padding: 8px 10px;
  border-radius: 8px;
}

.top__item__stt {
  position: absolute;
  top: -15px;
  left: 15px;
  background-color: var(--background-main);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: black;
  font-weight: 600;
}
