:root {
  --background-main-button: green;
  --background-main: #ffa400;
  --background-red: #de3615;
}

.page2__title {
  background: var(--background-main);
  padding: 20px 320px;
  font-size: 24px;
  font-weight: 600;
  margin: 30px auto;
}
.table__tiso {
  margin-bottom: 30px;
}
.page2 {
  padding: 20px;
}
.page2 h3 {
  background: rgb(248, 47, 47);
  font-size: 12px;
  text-transform: capitalize;
  padding: 5px 40px 6px;
}
.page2 .item__name {
  bottom: 5px;
  border-radius: 12px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.page2 p {
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}
.page2 .live__time {
  font-size: 14px;
  font-weight: 600;
}
.page2 .live__tiso {
  gap: 20px;
  font-size: 65px;
  justify-content: center;
}
.page2 img {
  width: 100px;
  height: 100px;
}

.media__main {
  display: flex;
}
.media__play {
  background: rgb(106, 106, 106);
  flex: 1;
}
.media__play img {
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}
.media__comment {
  max-width: 260px;
  width: 100%;
  background: var(--background-main);
  font-size: 12px;
  color: white;
}
.comment__header {
  text-align: center;
  padding: 27px 0;
}
.comment__hidden {
  width: 100%;
  border-bottom: 1px solid black;
  color: white;
  padding: 2px 0;
}
.comment__user {
  display: flex;
  align-items: center;
  padding: 2px 0;
  border-bottom: 1px solid black;
}
.comment__chat {
  display: flex;
  align-items: center;
  padding: 2px 0;
  gap: 2px;
  border-bottom: 1px solid black;
}
.comment__form {
  height: 450px;
  background: #2e2e2e;
  overflow-y: auto;
  padding: 5px;
}
.comment__form__item {
  display: flex;
  gap: 4px;
}
.comment__form__name {
  color: gray;
  font-size: 11px;
}
.comment__form__mess {
  flex: 1;
  margin: 10px 0;
  margin-right: 30px;
}
.comment__form__item img {
  width: 30px;
  height: 30px;
  border-radius: 100rem;
}
.comment__form__chat {
  font-size: 12px;
  color: black;
  padding: 10px;
  margin-top: 4px;
  background: rgb(203, 202, 202);
  border-radius: 8px;
  border-top-left-radius: 0;
}
.comment__chat input {
  outline: none;
  border: none;
  color: white;
  flex: 1;
  padding-right: 4px;
}
.comment__chat input::placeholder {
  color: white;
}
.comment__user img {
  width: 17px;
}
.comment__chat img {
  width: 17px;
}
@media (max-width: 1200px) {
  .page2__title {
    padding: 20px 100px;
  }
  .comment__form {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .page2__title {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .page2 img {
    width: 80px;
    height: 80px;
  }
  .page2 .live__tiso {
    gap: 20px;
    font-size: 44px;
    justify-content: center;
  }
  .media__main {
    flex-direction: column;
  }
  .media__play img {
    margin-top: 60px;
    height: 70px;
    width: 70px;
  }
  .media__comment {
    display: none;
  }
  .media__play {
    height: 200px;
    flex: none;
  }
}
